<!DOCTYPE html>
<html>
  <head>
    <title>✈Country✈</title>
    <!-- <link rel="stylesheet" href="/css/main.css" /> -->
    <link rel="stylesheet" href="/css/country.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a href="/">Home</a></li>
          <li class="main-header__item"><a href="/covid">Covid-19</a></li>
          <li class="main-header__item"><a href="/admin/country">Refresh</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <form action="/admin/country" method="POST"> 
        <div>
          <label for="title">Country</label>
          <input type="text" name="title" id="input" class="ctryName"/><br>
        </div>
       <button class="btn-Country" type="submit" >search country🌏</button>&emsp;
      </form>
    </main>

    <main>
    <div class="ctryContainer"></div>
    </main>
    
    <script src="/js/countryFetch.js"></script>
    <script src="/js/reqCovid.js"></script>
  </body>
</html>
