<!DOCTYPE html>
<html>
  <head>
    <title>Country</title>
    <link rel = "stylesheet" href="/css/main.css"/>
    <link rel = "stylesheet" href="/css/country.css"/>
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a href="/">shop</a></li>
            
          <li class="main-header__item">
            <a href="/admin/country">Add Product</a></li>
            </ul>
      </nav>
    </header>
    <main>
      <form class = "product-from" action="/admin/country" method="POST">
        <div class = "form-control">
          <label for="title">title</label>
        <input type="text" name="title"  id ="title"/>
      </div>
        <button type="submit">Country</button>
      </form>
    </main>
  </body>
</html>
