<!DOCTYPE html>
<html>
  <head>
    <title>🧬Covid-19🧬</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/covid_19.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a href="/">Home</a></li>
          <li class="main-header__item"><a href="/admin/country">Country</a></li>
          <li class="main-header__item"><a href="/covid">Refresh</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <form class="product-from" action="/covid" method="POST">
        <div class="form-control">
          <label for="title">title</label>
          <input type="text" name="title" id="title" />
        </div>
        <button type="submit">ค่อยใส่covid</button>
      </form>
    </main>
  </body>
</html>
