<!DOCTYPE html>
<html>
  <head>
    <title>🧬Covid-19🧬</title>
    <!-- <link rel="stylesheet" href="/css/main.css" /> -->
    <link rel="stylesheet" href="/css/country.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a href="/">Home</a></li>
          <li class="main-header__item"><a href="/admin/country">Country</a></li>
          <li class="main-header__item"><a href="/covid">Refresh</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/covid" method="POST">
        <div >
          <label for="title">Covid-19</label>
          <input type="text" name="title" id="input" class="covid19"/><br>
        </div>
        <button class="btnCovid" type="submit" >Search Covid-19🌏</button>&emsp;
      </form>
    </main>
    <main>
      <div class="cvContainer"></div>
      </main>
      <script src="/js/covidFetch.js"></script>
  </body>
</html>
