<!DOCTYPE html>
<html>
  <head>
    <title>422-Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="w3-bar-item w3-button"><a href="/"><i class="fa fa-home"></i>Home</a></li>
          <li class="w3-bar-item w3-button"><a href="/covid">Covid-19</a></li>
          <li class="w3-bar-item w3-button"><a href="/admin/country">Country</a>
          </li>
        </ul>
      </nav>
    </header>
    
    <div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
      <div class="w3-display-middle" style="white-space:nowrap;">
        <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">WEBSITE&ensp;<span class="w3-hide-small">COVID-19&ensp;&&ensp;</span>COUNTRY</span>
      </div>
    </div>

    <main>
      <h1>TEAMMATE</h1>
      <p>1.นายกฤตณัฐ พรหมภัทรา 6221601096</p>
      <p>2.นายอานนท์ เพชรเอียง 6221601312</p>
      <p>3.นายศุภกร พรหมพินิจ 6221608155</p>
      
    </main>
  </body>
</html>
