<!DOCTYPE html>
<html>
  <head>
    <title>AddProduct</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a href="/">Home</a></li>
          <li class="main-header__item"><a href="/covid">Covid</a></li>
          <li class="main-header__item">
            <a href="/admin/add-product">Country</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>My team😴😴</h1>
      <p>1.นายกฤตณัฐ พรหมภัทรา 6221601096</p>
      <p>2.นายอานนท์ เพชรเอียง 6221601312</p>
      <p>3.นายศุภกร พรหมพินิจ 6221608155</p>
    </main>
  </body>
</html>
