
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}




body,
html {
  height: 100%;
  color: #777;
  line-height: 2.0;
}

main {
  padding: 2rem;
  /* align-self: center; */
}

label {
  font-size: 1.5rem;
  color: rgb(75, 75, 75);
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: #000000;
    padding: 0 1.5rem;
}

.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* .main-header__item {
    margin: 0 1rem;
    padding: 0;
}

.main-header__item a {
    text-decoration: none;
    color: black;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    color: #3e00a1;
} */

.country_data {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
    /* background-color: aquamarine; */
  }

  /* ปรับกล่องใส่ธงกับรายละเอียด */
  .country {
    /* display: flex; */
    /* flex-direction: row; */
  
    background-color: rgba(255, 255, 255, 0.336);
    box-shadow: 1rem 2rem 1rem rgba(0, 0, 0, 0.1);
    font-size: 0.5rem;
    width: 19rem; /*Width Box*/
    height: 41rem;  /*Height BOx*/
    border-radius: 0.7rem;
    margin: 0.5rem 1rem;
  }

/* ปรับขนาดรูปธง */
.country_img {
    width: 19rem;
    height: 13rem;
    object-fit: cover;
    background-color: rgba(238, 238, 238, 0.219);
    border-top-left-radius: 0.15rem;
    border-top-right-radius: 0.15rem;
  }

  .country_name {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 3rem;
    font-weight: bold;

    color: black;
  }
  /* รายละเอียดในกล่อง */
  .country_item {
    margin-left: 1rem;
    font-size: 1rem;
    margin-top: 0.15;
    margin-bottom: 0.0025rem;
    text-transform: uppercase;
    color: #888;
  }

  .covid_ctry{
    font-size: 0.9rem;
    margin-bottom: 0.0025rem;
    text-transform: uppercase;
    color: #000;
  }


  .btn-Country {
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px;
    padding: 8px 20px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #777;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #999;
  } 
  .btn-Country:hover {background-color: #000000}


  .neighbour{
    transform: scale(0.8) translateY(1rem);
    margin-right: 5;
  }
  
  .hello {
    font-size: 5rem;
  }

  .neighbour::before{
    content: 'Neighbour Country';
    width: 100%;
    position: absolute;
    top: -4rem;
  
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #888;
  }

  .ctryContainer {
    margin-top: 2rem;
    font-family: 'Lato', sans-serif;
    display: flex;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 1s;
    overflow: scroll;
  }
  .country__item a {
    
    font-size: 1.2rem;
    font-weight:bold;
    text-decoration: none;
    color: rgb(43, 174, 48);
  }


  .regionContainer{
    margin-top: 10rem;
    font-family: 'Lato', sans-serif;
    display: flex;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 1s;
    overflow: scroll;
  }

  
  .country_region {
    margin-left: 1rem;
    font-size: 1.25rem;
    margin-top: 0.025rem;
    margin-bottom: 0.025rem;
    text-transform: uppercase;
    color: rgb(45, 0, 209);
  }

  /* Create a Parallax Effect ห้ามลบ */
.bgimg-1 
{
 
} 

/* First image (Logo. Full height) */
.bgimg-1 {
 background-image: url('../Img/country1.jpg');
 min-height: 100%;
 /* height: 500px; */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
}

.w3-wide {
 letter-spacing: 15px;
}
.w3-hover-opacity {
 cursor: pointer;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
 .bgimg-1
  {
   /* background-attachment: scroll; */
   /* min-height: 600px; */
 }
}